<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Java Script</title>
</head>
<body>
    <!-- These keys will be rendered from JS -->
    <h1>Hey! It's <%= dayofWeek %>, it's time to <%= toDo %>!</h1>   
</body>
</html>