<h1>
    <!-- use `locals`(it is everywhere) to scope the variable from res.sender -->
    <% if (locals.length) { %>
        There are <%= length %> letters in <%= name %>
    <% } else { %>
        Please type your full name below:
    <% } %>  
</h1>