<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Letters</title>
</head>
<body>
    <%- include("header.ejs") %>

    <form action="/submit" method="post">
        <input type="text" name="fName" placeholder="First Name">
        <input type="text" name="lName" placeholder="Last Name">
        <input type="submit" value="OK">
    </form>
    
</body>
</html>